#TimerContainer {
    background-color: red;
    height: 300px;
}

#Timer {
    background-color: blue;
    margin: 10px;
    line-height: 30px;
    font-size: 5rem;
}

#GoalTitle {
    color: maroon;
}